* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  margin: 50px;
  justify-content: center;
  text-align: center;
  background-color: darkblue;
  font-family: serif;
  height: 800px;
}

#container {
  position: sticky;
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
header {
  background-color: #333;
  color: #fff;
  text-align: center;
  border-bottom: 4px #000 solid;
  margin-bottom: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-size: 2.5rem;
  margin: 20px;
  padding: 10px;
}

button {
  margin: 0.625rem;
  width: 15rem;
  height: 2.5rem;
  font-size: 1.25rem;
  font-weight: bolder;
  color: rgb(255, 253, 251);
  background-color: deeppink;
  border: none;
  outline: none;
  border-radius: 1.125rem;
}
#div1 {
  padding: 10px;
  font-size: 1.55rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 8px;
  width: 240px;
  height: 240px;
  color: red;

  text-align: center;
  border: 8px dotted rgb(235, 223, 65);
}

#para1 {
  margin: 65px;
}
span {
  display: flex;

  font-size: 1.5rem;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 253, 251);
}
ul {
  column-rule: 1px solid lightblue;
  display: flex;
  flex-direction: column;
}
li {
  font-size: 1.25rem;
  color: rgb(255, 253, 251);
  list-style: none;
  justify-content: end;
  flex-direction: row;
  column-rule: 1px solid lightblue;
}
